<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.7.1.js') }}"></script>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout/rontop.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout/layout.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout/style.css') }}">

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.4.2.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.form.js') }}"></script>


</head>

<body>



<div style="width:100%;text-align:right;padding: 15px 5px;text-align:top;background-color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:20px;">

<a href="/">Home</a>&nbsp;&nbsp;
<a href="{{ url_for('about') }}">About</a>&nbsp;&nbsp;
<a href="{{ url_for('contact') }}">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;


</div>

				
<div style="height:40px;"></div>
<h1>About Us: </h1>
<hr>



<div id="portfolionew">


<div id="portfolio" class="one_half" style="width:60%;float:left;text-align:left;padding:20px 20px 20px 20px;">

About Info
</div>

</div><br><br><br><br>



</body></html>